<div class="row">
  <span>Label:</span>
 {{one-way-input model.label
    update=(action (mut model.label))
    onblur=(action "saveNode")}}
</div>

<div class="row">
  <span>Yield:</span>
 {{one-way-input model.yield
    update=(action (mut model.yield))
    onblur=(action "saveNode")}}
</div>

<div class="row">
  <span>Type:</span>
 {{one-way-input model.type
    update=(action (mut model.type))
    onblur=(action "saveNode")}}
</div>

{{#each model.children as |edge|}}
  <div class="row">
    <span>{{edge.b.label}}</span>
    {{one-way-input edge.q
      update=(action (mut edge.q))
      onblur=(action "saveEdge" edge)}}
  </div>
{{/each}}

<div class="col">
  {{#each-in model.normalizedChildren as |key nodeData|}}
    <div class="row">
      {{nodeData.node.label}} - {{nodeData.factor}}
    </div>
  {{/each-in}}
</div>
